<nav class="navbar navbar-expand-lg sticky-top shadow rounded grosor">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="active text-light" aria-current="page" href="#"><%= link_to "HELPINGLY", root_path, class: "navbutton nav-big" %></a>
        </li>
      </ul>
      <div class="navbar-right">
          <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <ion-icon name="person-circle-outline"></ion-icon>
          </a>
          <ul class="dropdown-menu">
          <% if user_signed_in? %>
            <li><%= link_to "My page", user_path(current_user), class: "dropdown-item" %></li>
            <li> <%= button_to "Log out", destroy_user_session_path, class: "dropdown-item", method: :delete, form: {"data-turbo": false} %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %> </li>
            <li><%= link_to "Log in", new_user_session_path, class: "dropdown-item" %></li>
          <% end %>
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>
