<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @offers.each do |offer| %>
      <div class="carousel-item active">
      <%= link_to cl_image_tag(offer.photo.key, class: "d-block w-100", id: "banner"), offer_path(offer) %>
      <div class="carousel-caption d-none d-md-block">
        <h2> <%= offer.title %> </h2>
      </div>
    </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h1 class="offers-text">OFFERS</h1>

<div class="grid">
  <% @offers.each do |offer| %>
    <div class="g-col-md-4">
      <div class="card-trip">
        <%= cl_image_tag offer.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2> <%= offer.title  %> </h2>
            <p><%= offer.description  %> </p>
          </div>
            <h2 class="card-trip-pricing"><%= offer.hourly_rate  %> </h2>
        </div>
      </div>
    </div>
  <%end%>
</div>
