<h1>Offers#new</h1>
<p>Find me in app/views/offers/new.html.erb</p>

<%= simple_form_for(@offer) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :date %>
  <%= f.input :hourly_rate %>
  <%= f.input :location %>
  <%= f.input :photo, as: :file%>
<% end %>
