<table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Owner</th>
            <th scope="col">Title</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Hours</th>
          </tr>
        </thead>
        <tbody>
            <% current_user.appointments.where(accepted: false).each do |appointment| %>
            <tr>
              <th scope="row">1</th>
              <td> <%=appointment.offer.user.email %> </td>
              <td> <%=appointment.offer.title %> </td>
              <td> <%=appointment.start_date %> </td>
              <td> <%=appointment.end_date %> </td>
              <td> <%=appointment.hours %> </td>
            </tr>
            <% end %>
          </tr>
        </tbody>
      </table>
